html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.react-parallax {
  color: white;
}
.sign.icon {
  opacity: .2;
}
.coverImage {
    max-width: 100%;
    height: auto;
}

.ui.link.list .item,
.ui.link.list .item a:not(.ui),
.ui.link.list a.item,
h4.ui.header {
  color: #fff !important;
}

.ui.link.list .item a:not(.ui):hover,
.ui.link.list a.item:hover {
  color: #3ebcb2 !important;
}

.ui.link.list {
  font-size: 12px;
  line-height: 1.8;
}

a.email {
  color: #fff;
}

a.email:hover {
  color: #3ebcb2;
}

.card-icons {
  margin-top: 15px;
  margin-bottom:15px
}

.rhiz-header-logo {
  height: 38px;
  width: 70px;
  margin-bottom: -10px;
}