.price-card-descriptions {
    margin-top: 25px;
}

.price-card-container {
    margin-top: 25px;
    margin-bottom: 25px;
    /* height: 600px; */
}

.price-cards-div {
    margin-top: 25px;
    margin-bottom: 25px;
}