#priceoptions {
  height: 350px;
  background-image: url("../img/treehome.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

#priceoptions p, h1 {
  color: white;
}

#priceoptions .container {
  padding: auto;
}

.jumbotron {
  background-color: white;
}

.price {
  background-color: grey;
  text-align: center;
    padding:  20px;
  color: white;
}

.subscribe-button {
  -webkit-box-shadow:0 0 20px green;
  -moz-box-shadow: 0 0 20px green;
  box-shadow:0 0 20px green;
  text-align: center;
}

.card-content {
  text-align: center;
    height: 60px;
/*    padding: 24px;*/
    margin: 10px;
    
}

.fee-title {
  font-size: 40px;
}

@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}

#viewImage {
   background-color: #4CAF50;
   color: white;
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.money-icon i {
  float: right;
}

#goog_map {
  width: 300px;
  height: 300px;
}
